[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
scikit-learn = "*"
scipy = "*"
nltk = "*"
twython = "*"
torch = "*"
pylsl = "*"
scikit-image = "*"
vispy = "*"
bluepy = "*"
pygatt = "*"
pexpect = "*"
fooof = {file = "https://github.com/fooof-tools/fooof/archive/refs/tags/v1.0.0.zip"}
mne = "*"

[dev-packages]

[requires]
python_version = "3.9"
